@model DateTime?
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <span> Current Time :
        @DateTime.Now.ToString();
    </span>
    

    <span> Cached Time :
        @Model.Value.ToString();
    </span>
</div>

